# Elastic Beanstalk Files
/aws/eb/.elasticbeanstalk/docker-compose.yml
/aws/eb/.elasticbeanstalk/logs/
/aws/eb/Dockerrun.aws.json
/aws/eb/Dockerrun.aws.json-e
/aws/deployment-pipeline/scripts/setup/codepipeline-setup/prereqs/eb-environments/.elasticbeanstalk/
/aws/deployment-pipeline/scripts/setup/codepipeline-setup/prereqs/eb-environments/logstash/
/aws/deployment-pipeline/scripts/setup/codepipeline-setup/prereqs/eb-environments/Dockerrun.aws.json
/aws/deployment-pipeline/scripts/setup/codepipeline-setup/prereqs/eb-environments/README.md
